
<div class="ui cards">
    <div class="ui circular labels">
        <div class="ui label">
        Creator
          <i class="copyright outline icon"></i>
          Sergey Germanov
        </div>
      </div>       
  </div>
</body>
</html>