<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Training Sessions</title>
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="stylesheet" href="./app.css" />

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script> -->
  </head>
  <body>
    <div class="ui top fixed inverted menu">
      <a href="/" class="item">
        <h2><i class="child icon"></i>Train4Life</h2></a
      >
      <div class="right menu">
        <div class="ui simple dropdown item">
          Days <i class="dropdown icon"></i>
          <div class="menu">
            <a href="/session/1" class="item">Day 1</a>
            <a href="/session/2" class="item">Day 2</a>
            <a href="/session/3" class="item">Day 3</a>
          </div>
        </div>
        <a href="/timer" class="right active item">Timer</a>

        <!-- <a href="" class="item ui floated right">Login</a> -->
      </div>
    </div>
  </body>
</html>
